{% extends "layout.html" %}

{% block content %}

<section class="main" >
    
<section class="articles">
        <article>
            <h2>Información  </h2>
            <br>
            <p>El fénec es el zorro más pequeño del mundo,
                 aunque sus grandes orejas, que miden 15 
                 centímetros, parecen haberle sido prestadas
                  por algún primo mayor. Sus hábitos nocturnos,
                   además de una serie de adaptaciones físicas,
                    le ayudan a soportar el calor
                   abrasador del desierto del Sáhara.
           </p>
       </article>
   <img src="https://i.pinimg.com/236x/d6/98/8d/d6988d0d6d05df8c363de0512d2a8ac7.jpg"  width="190px">
   <img src="https://i.pinimg.com/236x/11/ad/8b/11ad8b2cfbc60e01d29c9d4a81f463ec.jpg"  width="190px">

        <article>
           <h2>Alimentación  </h2>
            <br>
            <p>Por lo que respecta a la alimentación, los 
                fénec son animales oportunistas. Buscan 
                plantas para alimentarse, pero también
                 comen roedores, huevos, reptiles e insectos.
                  Como la mayor parte de los habitantes del 
                  desierto, el zorro fénec ha desarrollado la
                   capacidad de pasar largos 
                períodos de tiempo sin beber agua.</p>
            
        </article>
    
</section>  
</section> 
<aside>
    <h3> Color</h3>
    <p> Los fénec son de color crema,
         con la punta de la cola de color negro. 
       
    </p>
      
</aside>
<img src="https://i.pinimg.com/236x/c5/7b/94/c57b94dde485f91c9ba79c3a8d3308fe.jpg" width="200px">

{%end block%}