{% extends "layout.html" %}

{% block content %}

<section class="main" >
    
<section class="articles">
        <article>
            <h2>Información </h2>
            <br>
            <p> Esperanza de vida: 5 a 8 años.<br>

                – Peso: 800 grs. a 3 kg.los machos y 700 grs. a 1,2 kg. las hembras.<br>
                
                – Consumo de alimento: 20 a 40 grs. por hurón adulto, por día.<br>
                
                – Madurez sexual: 6 a 12 meses.<br>
                
                – Tamaño de la camada: 7 a 14.<br>
                
                – Gestación: 42 días.<br>
           </p>
       </article>
       <img src="https://i.pinimg.com/236x/ff/5d/5e/ff5d5e13d283d498b6d1b4aa90b71958.jpg" width="200px">
       <img src="https://i.pinimg.com/236x/d8/1c/3e/d81c3e374540c7aafc28e0351605f369.jpg" width="200px">
        <article>
           <h2>Alimentación  </h2>
            <br>
            <p>Al igual que los gatos, los hurones son carnívoros estrictos. Requieren niveles de proteína por

                sobre el 30 a 35% y grasa de 20%, con un bajo porcentaje de fibra. El ideal es alimentar a los hurones con un alimento especialmente diseñado para ellos y que además sea palatable. El alimento debe ser dado “ad – libitum”, esto quiere decir que debe estar siempre disponible, a menos que su Médico Veterinario recomiende otra cosa por problemas de obesidad (problema común).
                
                El agua debe estar siempre disponible y ojalá ofrecida por medio de una botella, ya que en pocillos suelen derramarla.</p>
        
        </article>


</section>  
</section> 
<aside>
    <h3> Personalidad</h3>
    <p> Los hurones son juguetones, inquisitivos y tienen conductas exploratorias muy marcadas. Son relativamente
         fáciles de mantener y son muy buenas mascotas,
          ya que forman fuertes vínculos con sus cuidadores.
           Rara vez son agresivos, y las veces que son
            mordedores es por falta de socialización.
       
    </p>
      
</aside>
<img src="https://i.pinimg.com/236x/c9/13/af/c913af3b860815891ca4507e2bed2c4f.jpg" width="200px">

{% endblock %}