{% extends "layout.html" %}

{% block content %}

<section class="main" >
<img src="https://i.pinimg.com/564x/19/05/bc/1905bc5ec5ccfa85438bc45c8f4dd6de.jpg" width="350px">
    
<section class="articles">
        <article>
            <h2>Adopción de animales  </h2>
            <br>
            <p>En este lugar podras encontrar distintos animales 
                los cuales  estan listos para ser adoptados por un buen dueño.
                
           </p>
       </article>
        <article>
           <h2>Datos importantes </h2>
            <br>
            <p>Estos tipos de animales no pueden ser adoptados facilmente
                ,se deben checar las condiciones del hogar y si el dueño 
                cuenta con el dinero o la economia par tener al animal,se dara 
                un permiso para que pueda llevarse el animal 
            </p>
        
        </article>


</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> Contactanos :<br>
        Tel:(+52) 449-312-3123
        <br>
        Horario:<br>
        Lunes a Viernes de 7:30 am a 5:30 pm
       
    </p>
    
</aside>
<img class="i" src="https://i.pinimg.com/236x/db/b6/33/dbb633491eb07544daf787b85009c3dd.jpg" width="10px">

{% endblock %}