<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title>Tienda de Animales</title>
<link rel="stylesheet" href="/static/images/estilos.css">
</head>
<body background="https://i.pinimg.com/564x/56/73/12/56731238823c40fb2f3fc8c926e139cb.jpg">
<header>
    <div class="ic"><img class="incon" src="https://i.pinimg.com/564x/79/ad/c5/79adc5b48931d675e1d54a23f641a950.jpg" width="100px">
        <div class="nom"><h1>Fantastic Animals</h1></div></div>
   
</header>

<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/ns">Nuestros Servicios</a></li>
        <li><a href="/zorros">Zorros</a></li>
        <li><a href="/huron">Huron</a></li>
        <li><a href="/fenex">Fénec</a></li>
        <li><a href="/contacto">Contacto</a></li>
        
    </ul>
</nav>
 
{% block content %}
{% endblock %}

<footer>
    <img  src="https://i.pinimg.com/236x/99/48/4e/99484e0f371701ff29006192f276a950.jpg" width="20px">
</footer>
  
</body>
</html>