{% extends "layout.html" %}

{% block content %}

<section class="main" >
    
<section class="articles">
        <article>
            <h2>Alimento </h2>
            <br>
            <p>Aquí mismo en nuestra página vendemos el alimento necesario 
                y el adecuado para nuestros animalitos.Son naturales
                sin ningun daño a ellos,y son muy nutritivos.</p>
            
           </p>
       </article>
       
        <article>
           <h2>Accesorios </h2>
            <br>
            <p>Formas de entretenimiento para ellos con el fin
                de que no se estresen y se sientan como , divirtiendo
                en cualquier momento.<br>
                Tambien hay camas para descansar
                ,ropa para ellos en tiempo de frio o
                 en cualquier momento 
            </p>
        
        </article>
</section>  
</section> 
<aside>
    <img src="https://i.pinimg.com/736x/bc/f3/b8/bcf3b892c3f63f99fb4a9fb0f2112bce.jpg" width="300px">
    <img src="https://i.pinimg.com/236x/59/bb/d3/59bbd3073da220b0108f19138ca646c2.jpg" width="300px">
    
      
</aside>
    
{% endblock %}