{%extends "layout.html"%}

{%block content%}
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Información  </h2>
            <br>
            <p>Es un animal más solitario que social, 
                cuyas actividades principales
                 son realizadas durante la noche o el crepúsculo,
                  aunque de vez en cuando sale a merodear en el día. Se refugia en guaridas bajo la tierra, excavadas por él mismo o pertenecientes a otro animal que fue dueño anterior.
           </p>
       </article>
   <img src="https://i.pinimg.com/236x/cc/68/5d/cc685da9617a10de707968be4e083757.jpg"  width="190px">
   <img src="https://i.pinimg.com/236x/e0/89/91/e08991d3a25143322dcd95b6bfaa999a.jpg"  width="190px">

        <article>
           <h2>Alimentación </h2>
            <br>
            <p>Omnívoro oportunista, el zorro rojo come casi cualquier cosa que está a su alcance. 
                En su hábitat natural, su dieta incluye animales pequeños como ratones, 
                ardillas, jerbos, marmotas, hámsteres y otros 
                roedores, así como aves, insectos, gusanos,
                 reptiles, carroña, frutas, hierbas y tubérculos. 
                 Ocasionalmente caza animales ungulados pequeños.
                  Las frutas más consumidas son las moras, las
                   cerezas, las frambuesas, las uvas, las ciruelas,
                    las bellotas y las manzanas, entre otras. </p>
            
        </article>
    
</section>  
</section> 
<aside>
    <h3> Nota</h3>
    <p> La especie está clasificada en la categoría “Preocupación Menor”
         de la Lista Roja de la Unión Internacional
          para la Conservación de la Naturaleza, y no 
          se le considera amenazada. 
       
    </p>
      
</aside>
<img src="https://i.pinimg.com/236x/49/08/97/4908977419bc6e4ad26fe8cadd671c1b.jpg" width="200px">
<img class="z" src="https://i.pinimg.com/236x/15/da/b0/15dab0fc76040b35bf2a7f665f132e71.jpg" width="200px">

{%end block%}